In [61]:
#function

In [62]:
def func(name, age):
  print(name)
  print(age-10)

In [63]:
func("Prakash Thuthika", 26)

Prakash Thuthika
16

In [64]:
func( 26, "Prakash Thuthika")

26

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [65]:
# key word args
func(age= 26, name= "Prakash Thuthika")

Prakash Thuthika
16

In [66]:
def sum_test(a, b):
  return a+b

In [67]:
sum_test(4, 8)

12

In [68]:
sum_test(4, 8, 12, 67, 23)
# *args – Non-keyword Variable-length Arguments
# Stands for "arguments".

# It collects extra positional arguments passed to a function into a tuple.

TypeError: sum_test() takes 2 positional arguments but 5 were given

In [69]:
def sum_test(a, *b):
  for i in b:
    a = a +i
  return a

In [70]:
sum_test(4, 8, 12, 67, 23)

114

In [71]:
# key word args
func(age= 26, name= "Prakash Thuthika")

Prakash Thuthika
16

In [72]:
kargs = {"age": 11, "name": "Dhruv Thuthika"}

In [73]:
func(**kargs)

Dhruv Thuthika
1

In [74]:
args = (11, 22, 3, 45, 0)

In [75]:
sum_test(*args)

81

In [76]:
args = (11,12)

In [77]:
sum_test(*args)

23

In [78]:
def sum_test(*b):
  a=0
  for i in b:
    a = a +i
  return a

In [79]:
sum_test(*args)

23

In [80]:
# Feature	             *args	                                **kwargs
# Type	               Tuple	                              Dictionary
# Purpose	   Collect extra positional args	                Collect extra keyword args
# Use Case	When number of positional arguments is dynamic	When number of named arguments is dynamic