In [17]:
# Break exits the loop
# Continue skips the current iteration
# Pass does nothing
# if nested loop, break will exit the inner loop, continue will skip to the next iteration of the inner loop
# if you want to exit the outer loop, you can use a flag variable or raise an exception

In [13]:
# break
for i in range(1, 21, 2):
  if i == 13:
    break
  print(i)

1
3
5
7
9
11

In [14]:
# break with while
i = 1
while i <= 100:
  if i > 25:
    break
  print(i)
  i+=3

1
4
7
10
13
16
19
22
25

In [15]:
# break
for i in range(1, 21, 2):
  for j in ["Prakash", "Dhruv"]:
    if i == 13:
      break
    print(i, j)

1 Prakash
1 Dhruv
3 Prakash
3 Dhruv
5 Prakash
5 Dhruv
7 Prakash
7 Dhruv
9 Prakash
9 Dhruv
11 Prakash
11 Dhruv
15 Prakash
15 Dhruv
17 Prakash
17 Dhruv
19 Prakash
19 Dhruv

In [9]:
# break
for i in range(1, 21, 2):
  for j in ["Prakash", "Dhruv"]:
    if j == "Dhruv":
      break
    print(i, j)

1 Prakash
3 Prakash
5 Prakash
7 Prakash
9 Prakash
11 Prakash
13 Prakash
15 Prakash
17 Prakash
19 Prakash

In [11]:
# break
for i in range(1, 21, 2):
  if i == 13:
    continue
  print(i)

1
3
5
7
9
11
15
17
19

In [31]:
# break
for i in range(1, 21):
  if i >= 10:
    break
  for j in ["Prakash", "Dhruv"]:
    if j == "Dhruv":
      break
    print(i, j)

1 Prakash
2 Prakash
3 Prakash
4 Prakash
5 Prakash
6 Prakash
7 Prakash
8 Prakash
9 Prakash

In [33]:
# pass
for i in range(1, 21, 2):
  if i%5 == 0:
    pass
  else:
    print(i)

1
3
7
9
11
13
17
19